@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$forest: #015249 !default;
$keshizumi: #676767 !default;
$sumi: #282828 !default;

$background: $white-ter

