@charset "utf-8";

@import "variables";

@import "~bulma/bulma";

@import "~highlight.js/styles/atom-one-dark.css";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

html {
  background: $white-ter;
}

.article-list {
  margin-top: 3rem;
}

.article-list section {
  margin-top: -2rem;
}

.header {
  padding: 3rem;
}