@charset "utf-8";

@import "variables";

@import "~bulma/bulma";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

#app {
  background: $white-ter;
}

a {
  color: $grey-dark;
}

a:hover {
  color: $black-ter;
}

.info a {
  color: $blue;
}

.article-list section {
  margin-top: -2rem;
}

.header {
  padding-bottom: 3rem;
}